p {
    margin:0;
    padding:0;
}
h1 {
font-size:100px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:bold;
}
h2 {
    font:bolder;
    font-family:fantasy;
    text-shadow: darkolivegreen;
}

header,aside,section,footer,article,nav,hgroup {
    display:block;
}
#titulo {
    text-shadow: darkgreen 8px 8px ;
    -webkit-transform: skew(25deg);
   
}
body {
    text-align: center;
background:#ffcece}
    
    .agrupar {
        width: 980px;
        border: 1px solid black;
        background: #ffb09c;
        margin-bottom: 20px auto; }

        .header {
            background:-webkit-radial-gradient(center, #1ad09d,#0a8663 );
            border: 2px solid black;
            margin: 150px ;
            border-radius:10px;
            -webkit-transition: -webkit-transform ls ease 0.8s;
        } 
        .header:hover{
            -webkit-transform:rotate(5deg) ;
        }
        .header h1 {
            text-align: center;
            
        }
            
        .menu {
            background:#9de587;
            padding:15px;
            text-align: center ;
            
        }
         .menu li {
             list-style: none;
             margin:10px;
             border:5px solid black;
             background:#fff6a1;
             display: inline;
             
            
         }
         .seccion {
             margin:20px;
             width: 600px;
            
             float:right;
             
        
         }
         article { background:#fff6a1;
            border:5px solid black;
            padding:20px;
            margin-bottom:15px;
        
         }
         time {color:#f038d0}
        
         article footer{
             text-align:right ;
             margin-top: 20px ;
        
         }
         .columna {
             width:300px;
             
             float:left;
             margin: 20px 0;
             
         }
         .columna blockquote{
             border:1px solid #9de587;
             padding:40px;
             background:#f898e8;
             margin-bottom:20px;
        
         }
         .pie {
             clear: both;
             padding:20px;
             background:#ff788c;
             color:#ffffff;
        
         }
         
         .columna .lista
           {
            background:#9de587;
            padding:15px;
            text-align: center;
            margin-bottom: 10px;
            border:5px solid black;
            float:right;
            -webkit-transition:-webkit-transform lsease 0.8s;
            
    
         }
         .lista .sublista {
            
             padding:15px;
             text-align:left;
             
             background:#fff6a1;
             margin-bottom: 5px;
            }
            .columna:hover{
                -webkit-transform:skew(3deg)
            }
             
             
             

         img {
             width:140px;
             display:block;
             margin:20px auto;
         }

.pruebita{
list-style-image: url("imagenes/corazon.png");
    /*list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");*/

    border: 5px solid black;
}
table{
    border-collapse:collapse;
    border:5px solid black;
    ;
}
.verde{ border-collapse:separate;
    border:3px solid black;
    background: pink;
    
}
.rosa{
    background: pink;
}