{
    margin:0;
    padding:0;
}
h1 {
font-size:100px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:bold;
}
h2 {
    font:bolder;
    font-family:fantasy;
}

header,aside,section,footer,article,nav,hgroup {
    display:block;
}
body {
    text-align: center;
background:#ffcece}
    
    .agrupar {
        width: 980px;
        border: 1px solid black;
        background: #ffb09c;
        margin-bottom: 20px auto; }

        .header {
            background: #1ad09d;
            border: 2px solid black
        } 
        .header h1 {
            text-align: center;
        }
            
        .menu {
            background:#9de587;
            padding:15px;
            text-align: center ;
        }
         .menu li {
             list-style: none;
             margin:10px;
             border:5px solid black;
             background:#fff6a1;
             
            
         }
         .seccion {
             margin:20px;
             width: 600px;
            
             float:right;
             
        
         }
         article { background:#fff6a1;
            border:5px solid black;
            padding:20px;
            margin-bottom:15px;
        
         }
         time {color:#f038d0}
        
         article footer{
             text-align:right ;
             margin-top: 20px ;
        
         }
         .columna {
             width:300px;
             
             float:left;
             margin: 20px 0;
             
         }
         .columna blockquote{
             border:1px solid #9de587;
             padding:40px;
             background:#f898e8;
             margin-bottom:20px;
        
         }
         .pie {
             clear: both;
             padding:20px;
             background:#ff788c;
             color:#ffffff;
        
         }
         
         .columna .lista
           {
            background:#9de587;
            padding:15px;
            text-align: center;
            margin-bottom: 10px;
            border:5px solid black;
            float:right;
         }
         .lista .sublista {
            list-style: none;
             margin:10px;
             border:5px solid black;
             background:#fff6a1;
             margin-bottom: 5px;
             
             }
             
             
             

         img {
             width:140px;
             display:block;
             margin:20px auto;
         }